<div class="container">
  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>件のエラーが発生しました
    <ul>
    <% @customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="row">
    <mark class="bg-light">会員情報編集</mark>
  </div>
  <%= form_with model: @customer, url: customers_informaiton_path do |f| %>
  <table class="mt-3">
    <tr>
      <td>氏名</td>
      <td>　　</td>
      <td><%= f.text_field :last_name %>　　<%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>フリカナ</td>
      <td>　　</td>
      <td><%= f.text_field :last_name_kana %>　　<%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td>　　</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td>　　</td>
      <td><%= f.text_field :address, size: 50 %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td>　　</td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td>　　</td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td>　</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <%= f.submit "編集内容を保存", class:"btn btn-success btn-long" %>
        <% end %>
        　　<%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
      </td>
    </tr>
  </table>
</div>