<div class="container">
  <div class="row">
    <mark class="bg-light">商品編集</mark>
  </div>
  <%= form_with model: @item, url: admin_item_path do |f| %>
  <table class="center mt-5" style="margin: 0 auto;" >
    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name, size: 31 %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= f.text_area :introduction, rows: 4, cols: 30 %></td>
    </tr>
    <tr>
      <td>税抜価格</td>
      <td><%= f.text_field :price, size: 31 %>円</td>
    </tr>
  </table>
  <div class="centered-btn mt-3">
    <%= f.submit "変更を保存", class:"btn btn-success btn-long" %>
  </div>
  <% end %>
</div>