<h2>商品詳細</h2>

  <%= image_tag @item.get_image %>

    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>税込価格（税抜価格）</td>
          <td><%= (@item.price*1.1).floor %>(<%= @item.price %>)円</td>
        </tr>
      </tbody>
    </table>

<%= link_to "編集する", edit_admin_item_path %>