<div class="container">
  <div class="row">
    <mark class="bg-light"><strong>管理者</strong>ログイン</mark>
  </div>
  <div class="row mx-auto justify-content-center">
    <%= form_with(model: @admin, url: session_path(resource_name)) do |f| %>
      <table class="mx-auto">
        <tr>
          <td><%= f.label :"メールアドレス" %></td>
          <td><div class="form-spacing-left"><%= f.email_field :email, autofocus: true, autocomplete: "email",size: 50 %></div></td>
        </tr>
        <tr>
          <td><%= f.label :"パスワード" %></td>
          <td><div class="form-spacing-left"><%= f.password_field :password, autocomplete: "current-password",size: 50 %></div></td>
        </tr>
        <tr>
          <td></td>
          <td>
          <div class="form-spacing-left form-spacing-top"><input class="btn btn-primary btn-long" type="submit" value="ログイン"></div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<%= render "admin/shared/links" %>
