<p>ようこそ、ながのCAKEへ！</p></br>
<p>このサイトは、ケーキ販売のECサイトになります。</p></br>
<p>会員でない方も商品の閲覧はできますが、</p></br>
<p>購入には会員登録が必要になります。</p></br>

<h2>新着商品</h2>
<table class="table table-hover table-inverse">
          <tbody>
            <tr>
            <% @items.each_slice(4) do |row| %>
              <% row.each do |item| %>
                <td>
                  <%= link_to item_path(item.id) do %>
                    <%= image_tag item.get_image %>
                  <% end %></br>
                  <%= item.name %></br>
                  ¥<%= (item.price * 1.1).floor %>
                </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>

<%= link_to "全ての商品を見る＞", items_path %>