<div class="container">
  <div class="row">
    <mark class="bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</mark>
  </div>
  <table class="mt-3">
    <tr>
      <td>会員ID</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td style="padding-right: 30px;"></td>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td style="padding-right: 30px;"></td>
      <td>
      <% if @customer.is_active == true %>
        <p class="fw-bold text-success">有効</p>
      <% else %>
        <p class="fw-bold text-muted">退会</p>
      <% end %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-right: 30px;"></td>
      <td><%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success btn-long" %>　　　
          <%= link_to "注文履歴一覧を見る", orders_path, class:"btn btn-primary btn-longer" %></td>
    </tr>
  </tbody>
</table>