<div class="container">
  <div class="row">
    <mark class="bg-light">注文履歴詳細</mark>
  </div>
  <div class="row">
    <table>
      <tr>
        <td><strong>購入者</strong></td>
        <td>　　</td>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <td><strong>注文日</strong></td>
        <td>　　</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      </tr>
      <tr>
        <td><strong>配送先</strong></td>
        <td>　　</td>
        <td>〒<%= @order.postal_code %> <%= @order.address %></br>
            <%= @order.name %></td>
      </tr>
      <tr>
        <td><strong>支払方法</strong></td>
        <td>　　</td>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <td><strong>注文ステータス</strong></td>
        <td>　　</td>
        <td>
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :status, options_for_select(Order.statuses.map { |key, value| [I18n.t("enums.order.status.#{key}"), value] }, @order.status) %>
            <%= f.submit "更新", class:"btn btn-success" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-inverse">
        <thead class="table-light">
          <tr>
            <td><strong>商品名</strong></td>
            <td><strong>単価（税込）</strong></td>
            <td><strong>数量</strong></td>
            <td><strong>小計</strong></td>
            <td><strong>製作ステータス</strong></td>
          </tr>
        </th>
        <tr>
          <% @order_details.each do |order_detail| %>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price*1.1).floor %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.product_price %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_path, method: :patch do |f| %>
                <%= f.select :status, options_for_select(OrderDetail.statuses.map { |key, value| [I18n.t("enums.order_detail.status.#{key}"), value] }, @order_detail.status) %>
                <%= f.submit "更新", class:"btn btn-success" %>
              <% end %>
            </td>
        </tr>
          <% end %>
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <td><strong>商品合計</strong></td>
          <td><%= @order.total_payment - 800 %>円</td>
        </tr>
        <tr>
          <td><strong>送料</strong></td>
          <td>800円</td>
        </tr>
        <tr>
          <td><strong>請求金額合計</strong></td>
          <td><%= @order.total_payment %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>