<div class="container">
  <div class="row">
    <mark class="bg-light">ジャンル一覧・追加</mark>
  </div>
  <table class="mt-3" style="width :70%">
    <tr>
      <td><strong>ジャンル名</strong></td>
      <td>
        <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
        <%= f.text_field :genre, placeholder: "ジャンル名" %>
      </td>
      <td>
        <%= f.submit "新規登録", class:"btn btn-success" %>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="mt-3 table table-border" style="width :70%">
    <thead class="table-light">
      <tr>
        <td><strong>ジャンル</strong></td>
        <td></td>
      </tr>
    </thead>
    <% @genres.each do |genre| %>
    <tr>
      <td>
        <%= genre.genre %>
      </td>
      <td>
        <%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>