<div>
<h2>ショッピングカート</h2>
<%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete %>
</div>
<table>
  <th>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
      <td></td>
    </tr>
    <tr>
      <% @cart_items.each do |cart_item| %>
                <td>
                  <%= image_tag @items.find(cart_item.item_id).get_image %>
                  <%= @items.find(cart_item.item_id).name %>
                </td>
                <td><%= @items.find(cart_item.item_id).with_tax_price %></td>
                <td><%= cart_item.amount %></td>
                <td>
                  <%= cart_item.subtotal %>
                  <% @total += cart_item.subtotal %>
                </td>
                <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete %></td>
            </tr>
            <% end %>
    <tr></tr>
    <tr>
      <td><%= link_to "買い物を続ける", items_path %></td>
      <table>
        <tr>
        <td>合計金額</td>
        <td><%= @total %></td>
        </tr>
      </table>
    </tr>
  </th>
</table>
