<div class="container">
  <div class="row">
    <mark class="bg-light">配送先登録/一覧</mark>
  </div>
  <table class="mt-3" style="width :80%">
    <tr>
      <td>郵便番号（ハイフンなし）</td>
      <td>　</td>
      <td>
        <%= form_with model: @s_address, url: shipping_address_index_path, method: :post do |f| %>
        <%= f.text_field :postal_code, placeholder: "0000000" %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td>　</td>
      <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: 50 %></td>
      <td></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td>　</td>
      <td><%= f.text_field :name, placeholder: "令和道子" %></td>
      <td>
        <%= f.submit "新規登録", class:"btn btn-success" %>
        <% end %>
      </td>
    </tr>
  </table>
  <table class="mt-3 table table-bordered" style="width :60%">
    <thead class="table-light">
      <tr>
        <td style="border: 2.5px solid black">郵便番号</td>
        <td style="border: 2.5px solid black">住所</td>
        <td style="border: 2.5px solid black">宛名</td>
        <td style="border: 2.5px solid black"></td>
      </tr>
    </thead>
    <% @s_addresses.each do |shipping_address| %>
    <tr>
      <td style="border: 2.5px solid black">
        <%= shipping_address.postal_code %>
      </td>
      <td style="border: 2.5px solid black">
        <%= shipping_address.address %>
      </td>
      <td style="border: 2.5px solid black">
        <%= shipping_address.name %>
      </td>
      <td style="border: 2.5px solid black">
        <%= link_to "編集する",  edit_shipping_address_path(shipping_address), class:"btn btn-success" %>
        　<%= link_to "削除する", shipping_address_path(shipping_address), method: :delete, class:"btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>