<h5>注文情報確認画面</h5>

<table>
  <th>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
  </th>
  <tr>
    <% @cart_items.each do |cart_item| %>
      <td>
        <%= image_tag @items.find(cart_item.item_id).get_image %>
                  <%= @items.find(cart_item.item_id).name %>
                </td>
                <td><%= @items.find(cart_item.item_id).with_tax_price %></td>
                <td><%= cart_item.amount %></td>
                <td>
                  <%= cart_item.subtotal %>
                  <% @total += cart_item.subtotal %>
                </td>
            </tr>
            <% end %>
  </tr>
</table>

<table>
  <tr>
    <td>送料</td>
    <td>800</td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= @total %></td>
  </tr>
  <tr>
    <td>請求金額</td>
    <td><%= @total += 800 %></td>
  </tr>
</table>

<table>
  <tr>
    <td>支払方法</td>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <td>お届け先</td>
    <td>〒<%= @order.postal_code %><%= @order.address %></br>
        <%= @order.name %></td>
  </tr>
</table>

<%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :postal_code , :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= f.hidden_field :customers_id, :value => current_customer.id %>
    <%= f.hidden_field :total_payment, :value => @total %>
    <%= f.hidden_field :postage, :value => 800 %>
     <div><input class="btn btn-success btn-long" type="submit" value="注文を確定する"></div>
<% end %>