<div class="container">
  <% if @order.errors.any? %>
    <%= @order.errors.count %>件のエラーが発生しました
    <ul>
    <% @order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="row">
    <mark class="bg-light">注文情報確認画面</mark>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <td style="border: 2.5px solid black">商品名</td>
            <td style="border: 2.5px solid black">単価（税込）</td>
            <td style="border: 2.5px solid black">数量</td>
            <td style="border: 2.5px solid black">小計</td>
          </tr>
        </thead>
        <tr>
          <% @cart_items.each do |cart_item| %>
          <td style="border: 2.5px solid black">
            <%= image_tag @items.find(cart_item.item_id).get_image %>
            <%= @items.find(cart_item.item_id).name %>
          </td>
          <td style="border: 2.5px solid black">
            <%= @items.find(cart_item.item_id).with_tax_price %>
          </td>
          <td style="border: 2.5px solid black">
            <%= cart_item.amount %>
          </td>
          <td style="border: 2.5px solid black">
            <%= cart_item.subtotal %>
            <% @total += cart_item.subtotal %>
          </td>
        </tr>
          <% end %>
      </table>
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tr>
          <td style="border: 2.5px solid black">送料</td>
          <td style="border: 2.5px solid black">800</td>
        </tr>
        <tr>
          <td style="border: 2.5px solid black">商品合計</td>
          <td style="border: 2.5px solid black"><%= @total %></td>
        </tr>
        <tr>
          <td style="border: 2.5px solid black">請求金額</td>
          <td style="border: 2.5px solid black"><%= @total += 800 %></td>
        </tr>
      </table>
    </div>
  </div>
  <table>
    <tr>
      <td><strong>支払方法</strong></td>
      <td>　</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <td>　</td>
    </tr>
    <tr>
      <td><strong>お届け先</strong></td>
      <td>　</td>
      <td>
        <% if @select_address == "shipping_address" %>
          〒<%= @order.shipping_address.postal_code %><%= @order.shipping_address.address %><br>
          <%= @order.shipping_address.name %>
        <% else %>
          〒<%= @order.postal_code %><%= @order.address %></br>
          <%= @order.name %></td>
        <% end %>
    </tr>
  </table>
  <div class="centered-btn mt-5">
  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :postal_code , :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.hidden_field :total_payment, :value => @total %>
    <%= f.hidden_field :postage, :value => 800 %>
    <input class="btn btn-success btn-long" type="submit" value="注文を確定する">
  </div>
  <% end %>
</div>