<div class="container">
  <div class="row">
    <mark class="bg-light">注文履歴一覧</mark>
  </div>
  <table style="width: 100%">
    <thead class="table-light">
      <tr>
        <td style="border: 2.5px solid black">注文日</td>
        <td style="border: 2.5px solid black">配送先</td>
        <td style="border: 2.5px solid black">注文商品</td>
        <td style="border: 2.5px solid black">支払金額</td>
        <td style="border: 2.5px solid black">注文詳細</td>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tr>
      <td style="border: 2.5px solid black">
        <%= order.created_at.strftime('%Y/%m/%d') %>
       </td>
      <td style="border: 2.5px solid black">
        〒<%= order.postal_code %></br>
        <%= order.address %></br>
        <%= order.name %></br>
      </td>
      <td style="border: 2.5px solid black">
        <% order.order_details.each do |order_detail| %>
        <%= @item_names[order_detail.id] %><br>
        <% end %>
      </td>
      <td style="border: 2.5px solid black">
        <%= order.total_payment %>円
       </td>
      <td style="border: 2.5px solid black">
        <%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>