<h5>注文情報入力</h5>

<h6><strong>支払方法</strong></h6>
  <%= form_with model: @order, url: confirm_order_path do |f| %>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

<h6><strong>お届け先</strong></h6>
    <%= f.radio_button :select_address, "address" %>
    <%= f.label :address, "ご自身の住所" %></br>
    〒<%= @customer.postal_code %><%= @customer.address %></br>
    <%= @customer.last_name %><%= @customer.first_name %></br>

  <%= f.radio_button :select_address, "new_address" %>
    <%= f.label :new_address, "新しいお届け先" %></br>
    <table>
      <tr>
        <td>
          <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
          <%= f.text_field :postal_code, value: @order.postal_code %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, value: @order.address %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :name, "宛名" %>
          <%= f.text_field :name, value: @order.name %>
        </td>
      </tr>
    </table>

    <%= f.submit "確認画面へ進む" %>
  <% end %>