  <%= image_tag @item.get_image %>

    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>¥<%= (@item.price*1.1).floor %>(税込)</td>
        </tr>
        <tr>
          <td>
            <%= form_with url: cart_items_path, method: :post do |f| %>
              <%= f.hidden_field 'cart_item[item_id]', :value => @item.id %>
              <%= f.hidden_field 'cart_item[customer_id]', :value => current_customer.id %>
              <%= f.select 'cart_item[amount]', *[1..3] %>

              <%= f.submit "カートに入れる" %>
            <% end %>
        　</td>
        </tr>


      </tbody>
    </table>